
.loader {
  color: green;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bolder;
  font-size: 5vh;
  opacity: 0.8;
}
.loader span {
  display: inline-block;
  -webkit-animation: pulse 0.3s alternate infinite ease-in;
          animation: pulse 0.3s alternate infinite ease-in;
}
.loader span:nth-child(odd) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0.5;
  }
}
@keyframes pulse {
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0.5;
  }
}
